Repository TODARescue/TODARescue, pull requests merged in 2025-07, with the labels that each got.

#106 #91 Login and SignUp Integration
  index.php
  signUp.php
Labels: backend

#109 [BE] Integrate Emergency Contact Access for Users (Phone Visibility in Circles #92
  assets/data/EmergencyHotline.json
  passenger/emergencyContact.php
Labels: backend, passenger

#115 [BE] Backend Integration – Live Sharing, Drivers Display after Scanned #95
  assets/js/JSON/tanauan.geojson
  assets/js/groupPage/members.js
  assets/js/homePage/details.js
  assets/js/homePage/map.js
  assets/js/sharedMap.js
  assets/php/connect.php
  assets/php/countPassenger.php
  assets/php/storeLocation.php
  assets/shared/navbarDriver.php
  assets/shared/navbarPassenger.php
  driver/index.php
  passenger/groupPage.php
  passenger/index.php
  passenger/scanQr.php
  passenger/verificationScreen.php
Labels: enhancement, frontend, passenger

#118 Ticket #100
  passenger/accountEdit.php
  passenger/getCircleMembers.php
  passenger/getUserCircles.php
  passenger/groupPage.php
Labels: backend, passenger

#117 #97 Drivers Management – Back-end CRUD Integration, #107 Passengers M…
  admin/addDrivers.php
  admin/deleteDriver.php
  admin/deletePassenger.php
  admin/driverView.php
  admin/drivers.php
  admin/editProfileDriver.php
  admin/editProfilePassenger.php
  admin/index.php
  admin/passengers.php
  admin/passengersView.php
  assets/images/drivers/WIN_20241002_10_55_14_Pro.jpg
  assets/images/drivers/driver_1.jpg
  assets/images/drivers/driver_2.jpg
  assets/images/drivers/driver_3.jpg
  assets/images/drivers/driver_4.jpg
  assets/images/passengers/driver_4.jpg
  assets/images/passengers/passenger_1.jpg
  assets/images/passengers/passenger_2.jpg
  assets/images/passengers/passenger_3.jpg
  assets/shared/connect.php
Labels: backend, driver, passenger, admin-dashboard

#126 Added live sharing feature to circles.
  assets/css/style.css
  assets/js/groupPage/members.js
  assets/js/sharedMap.js
  assets/php/getCircleMembers.php
  assets/php/getLatestDriver.php
  assets/php/getUserCircles.php
  assets/php/getUserLocation.php
  driver/index.php
  index.php
  logOut.php
  passenger/circle.php
  passenger/groupPage.php
  passenger/index.php
Labels: enhancement, backend, passenger

#131 Minor revision on Ticket #102, #103
  passenger/createCircle.php
  passenger/emergencyContact.php
  passenger/joinCircle.php
Labels: enhancement, backend, passenger

#132 Revisions on Ticket #100 and Ticket #93
  assets/images/passengers/1753285242_510735950_739422731914327_5381117039241268430_n.jpg
  assets/images/passengers/1753287497_3_Reaño_Jamiel Bryan_PIC.png
  assets/php/checkIfAdmin.php
  assets/php/updateSharingStatus.php
  passenger/accountEdit.php
  passenger/accountView.php
  passenger/rideHistory.php
  passenger/settings.php
Labels: enhancement, backend

#134 #94 Debugged the Circle Management, and added a feature in qr scanner and profile info for drivers
  driver/profileInformation.php
  passenger/changeAdminStatusPassenger.php
  passenger/circle.php
  passenger/circleDetails.php
  passenger/editCircleName.php
  passenger/getDriver.php
  passenger/leaveCircleAction.php
  passenger/removeCircleMember.php
  passenger/scanQr.php
  passenger/verificationScreen.php
Labels: bug, enhancement, backend, driver, passenger

#137 Admin Settings
  admin/settings.php
  assets/php/updatePassword.php
  assets/shared/header.php
  assets/shared/navbarAdmin.php
Labels: backend, admin-dashboard

#141 Added features on #97 drivers and passengers management
  admin/deleteDriver.php
  admin/deletePassenger.php
  admin/driverView.php
  admin/drivers.php
  admin/index.php
  admin/passengers.php
  admin/passengersView.php
Labels: backend, admin-dashboard
