Repository TODARescue/TODARescue, pull requests merged in 2025-06, with the labels that each got.

#30 [FE] Admin Dashboard
  admin/index.php
  assets/css/style.css
Labels: frontend, admin-dashboard

#28 Navbar
  LICENSE
  README.md
  assets/shared/header.php
  assets/shared/navbar-icons/arrow-back.svg
  assets/shared/navbar-icons/circle-white.svg
  assets/shared/navbar-icons/circle.svg
  assets/shared/navbar-icons/home-white.svg
  assets/shared/navbar-icons/home.svg
  assets/shared/navbar-icons/phone-white.svg
  assets/shared/navbar-icons/phone.svg
  assets/shared/navbar-icons/settings-white.svg
  assets/shared/navbar-icons/settings.svg
  assets/shared/navbar-icons/users-white.svg
  assets/shared/navbar-icons/users.svg
  assets/shared/navbarAD.php
  assets/shared/navbarPassenger.php
Labels: frontend

#47 Create Front End UI for Login and Sign Up
  assets/css/style.css
  assets/images/Logo.png
  index.php
Labels: frontend

#48 [FE] Admin Side Edit Profile Driver #27
  admin/editProfileDriver.php
  assets/js/script.js
Labels: frontend, admin-dashboard

#50 [FE] Edit Profile Page for Passenger #27
  admin/editProfilePassenger.php
Labels: frontend, admin-dashboard

#51 [FE] Driver Display Page with it's Detail #26
  admin/driverView.php
Labels: frontend, admin-dashboard

#55 [FE] A new page for adding a New Driver User #49
  admin/addDrivers.php
Labels: frontend, admin-dashboard

#54 [FE] Emergency Contact - Call Button Functionality #12
  assets/css/style.css
  assets/images/call-button.svg
  assets/images/phone-blue.svg
  assets/images/phone-white.svg
  assets/shared/header.php
  passenger/emergencyContact.php
Labels: frontend, passenger

#64 [FE] Sign Up Page #10
  signUp.php
Labels: frontend

#66 #2 Fixed the full screen of map, #62 Added driver info card, #65 Implement Custom Marker
  assets/css/style.css
  assets/js/homePage/details.js
  assets/js/homePage/map.js
  passenger/groupPage.php
  passenger/homePage.php
Labels: enhancement, frontend, passenger

#71 Create a front end for Home Settings - Leave Circle Modal, Create a f…
  passenger/circle.php
  passenger/leaveCircleModal.php
Labels: frontend, passenger

#81 Limited Map Feature to tanauan and close border for better data consu…
  assets/css/style.css
  assets/images/fire-station.png
  assets/images/hospital.png
  assets/images/police-station.png
  assets/js/homePage/map.js
  passenger/homePage.php
Labels: enhancement, frontend, passenger

#76 #32 changed the font styles and the header will not be covered. #14 changed the font style and the directory for the new navbar for driver, and header will not be covered.
  driver/profileInformation.php
  passenger/verificationScreen.php
Labels: frontend, driver, passenger

#83 #43 Implemented a Change Admin Status for Passenger and Driver
  driver/changeAdminStatusDriver.php
  passenger/changeAdminStatusPassenger.php
  passenger/scanQr.php
Labels: frontend, driver, passenger

#87 #24 Added Button Onclick functionality and proper href linking , #25
  admin/drivers.php
  admin/passengers.php
  admin/passengersView.php
Labels: enhancement, admin-dashboard

#88 Fixed the title and back button in the header #31
  assets/css/style.css
  assets/shared/header.php
  driver/changeAdminStatusDriver.php
  driver/profileInformation.php
  index.php
  passenger/accountEdit.php
  passenger/accountView.php
  passenger/changeAdminStatusPassenger.php
  passenger/circle.php
  passenger/circleDetails.php
  passenger/createCircle.php
  passenger/emergencyContact.php
  passenger/inviteMember.php
  passenger/joinCircle.php
  passenger/removeCircleMember.php
  passenger/rideDetailsCard.php
  passenger/rideHistory.php
  passenger/scanQr.php
  passenger/settings.php
  passenger/verificationScreen.php
Labels: enhancement
