Repository TODARescue/TODARescue, pull requests merged in 2025-08, with the labels that each got.

#145 remove the circle details if member in passenger and driver
  driver/changeAdminStatusDriver.php
  driver/circleDetails.php
  passenger/changeAdminStatusPassenger.php
  passenger/circleDetails.php
Labels: enhancement

#147 ENHANCED | SIGNUP INPUT VALIDATION
  index.php
  signUp.php
Labels: enhancement

#151 Bugs(Account View & Account Edit)
  assets/images/passengers/1754923027_3_Reaño_Jamiel Bryan_PIC.png
  assets/images/passengers/1755258121_3_Reaño_Jamiel Bryan_PIC.png
  driver/accountEdit.php
  driver/accountView.php
  passenger/accountEdit.php
  passenger/accountView.php
Labels: bug, backend, passenger

#152 IMPROVED | Insert Validation
  admin/addDrivers.php
Labels: admin-dashboard
